.idea
UserSettings
*.sln
/SkillEditorDemo/Library
/SkillEditorDemo/Logs
/SkillEditorDemo/obj
/SkillEditorDemo/Temp
/SkillEditorDemo/UserSettings
/SkillEditorDemo/Assets/StreamingAssets/build_info
/SkillEditorDemo/Assets/StreamingAssets/build_info.meta
*.csproj
/SkillEditorDemo/AbCacheFile.txt
/SkillEditorDemo/StreamingAssets/XLua/Config
/SkillEditorDemo/StreamingAssets/AssetBundles
/SkillEditorDemo/StreamingAssets/Data/Config/Excel
/SkillEditorDemo/StreamingAssets/XLua/AutoGen
/SkillEditorDemo/StreamingAssets/XLua/EmmyLuaDesc/Excel
/SkillEditorDemo/.vs
AppPackages
/SkillEditorDemo/StreamingAssets/XLua/AutoGen
/SkillEditorDemo/Assets/StreamingAssets/AssetBundles
/SkillEditorDemo/Assets/StreamingAssets/AssetBundles.meta
/SkillEditorDemo/Assets/StreamingAssets/Data
/SkillEditorDemo/Assets/StreamingAssets/Data.meta
/SkillEditorDemo/Assets/StreamingAssets/XLua
/SkillEditorDemo/Assets/StreamingAssets/XLua.meta
/SkillEditorDemo/Assets/StreamingAssets/Audio
/SkillEditorDemo/Assets/StreamingAssets/Audio.meta
/Tools/Module/protogen/util/__pycache__
/Tools/Module/protogen/__pycache__
/Tools/__pycache__
/Tools/Module/__pycache__
/Tools/Module/Utility/__pycache__
/Tools/Module/GenConfigCode/__pycache__
/Tools/Module/GenConfigCode/ExcelTool/__pycache__
/Tools/Module/GenConfigCode/GenSpecialExcelData/__pycache__
/Tools/Module/GenConfigCode/SpecialExcelCellParse/__pycache__
/Tools/tool.log
SkillEditorDemo/Assets/Resources/PatchInfoList.bytes
SkillEditorDemo/Assets/Resources/PatchInfoList.bytes.meta
/SkillEditorDemo/report
Tools/Log/
__pycache__
SkillEditorDemo/TempDir/
SkillEditorDemo/Assets/Resources/PatchInfoList.xml
SkillEditorDemo/Assets/Resources/PatchInfoList.xml.meta
/SkillEditorDemo/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset.meta
/SkillEditorDemo/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
/SkillEditorDemo/Assets/GTC/com.bilibili.bgts/Editor/AssetRestrictTool/EditorCheckSetting.json
/Tools/Module/update_ab_config/__pycache__
SkillEditorDemo/Assets/GTC/com.bilibili.bgts/Editor/AssetRestrictTool/EditorCheckSetting.json.meta
SkillEditorDemo/TempFile/SimpleNetServerInfo.txt
/SkillEditorDemo/StreamingAssets/XLua/EmmyLuaDesc/LuaCallCs
/SkillEditorDemo/StreamingAssets/XLua/EmmyLuaDesc/ProtoMsg
/SkillEditorDemo/Assets/Script/Protocol/StreamMsg
Tools/OfflineCallUnity.log
/SkillEditorDemo/Assets/Script/Game/GameModule/Dependent/Xlua/Scripts/Gen
SkillEditorDemo/Assets/Script/Game/GameModule/Dependent/Xlua/Scripts/Gen.meta
SkillEditorDemo/Assets/Plugins/MonKey Commander/Editor/Settings/MonKey Settings.asset
SkillEditorDemo/Assets/Plugins/MonKey Commander/Editor/Settings/MonKey Settings.asset.meta
SkillEditorDemo/Assets/Script/Game/GameModule/Independent/BuildApp/Editor/GenCsCode/temp.asset
SkillEditorDemo/Assets/Script/Game/GameModule/Independent/BuildApp/Editor/GenCsCode/temp.asset.meta
/SkillEditorDemo/TempFile
SkillEditorDemo/WwiseProject/WwiseProject_G19/GeneratedSoundBanks/Android/PluginInfo.xml
SkillEditorDemo/WwiseProject/WwiseProject_G19/GeneratedSoundBanks/Android/SoundbanksInfo.xml
SkillEditorDemo/WwiseProject/WwiseProject_G19/GeneratedSoundBanks/iOS/PluginInfo.xml
SkillEditorDemo/WwiseProject/WwiseProject_G19/GeneratedSoundBanks/iOS/SoundbanksInfo.xml
SkillEditorDemo/WwiseProject/WwiseProject_G19/GeneratedSoundBanks/Mac/PluginInfo.xml
SkillEditorDemo/WwiseProject/WwiseProject_G19/GeneratedSoundBanks/Mac/SoundbanksInfo.xml
SkillEditorDemo/WwiseProject/WwiseProject_G19/GeneratedSoundBanks/Windows/PluginInfo.xml
SkillEditorDemo/WwiseProject/WwiseProject_G19/GeneratedSoundBanks/Windows/SoundbanksInfo.xml
SkillEditorDemo/WwiseProject/WwiseProject_G19/.cache/
*.akd
/SkillEditorDemo/StreamingAssets/Data/HotUpdateCSharpCode
/SkillEditorDemo/HybridCLRData/AssembliesPostIl2CppStrip
/SkillEditorDemo/HybridCLRData/HotUpdateDlls
/SkillEditorDemo/Assets/UWA
SkillEditorDemo/Assets/UWA.meta
/SkillEditorDemo/TestData
SkillEditorDemo/.vscode/launch.json
SkillEditorDemo/.vscode/settings.json
SkillEditorDemo/StreamingAssets/Data/UseAbInfo.bytes
